@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Akronim&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}
body {
  display: flex;
  flex-direction: column;
}
h1 {
  font-size: 50px;
  color: black;
  text-align: center;
  text-transform: uppercase;
  font-family: "Architects Daughter", cursive;
  margin: auto;
}

.header {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  &__logo {
    position: fixed;
    top: 1rem;
    left: 1rem;
    & img {
      width: 40%;
    }
  }
  &__title {
    & h2 {
      color: blanchedalmond;
      font-size: 5rem;
      text-transform: uppercase;
      font-family: "Akronim", cursive;
      letter-spacing: 0.5rem;
    }
  }
}

.clues {
  background-image: url("../img/bg3.jpg");
  background-size: cover;
  width: 100%;

  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  &__row {
    width: 80%;
    // background-color: aquamarine;
    display: flex;

    justify-content: space-around;
    & .clue {
      & img {
        border: 4px solid blanchedalmond;
        border-radius: 2px;
        width: 30rem;
        height: 30rem;
      }
    }
  }
}

.btn {
  align-self: center;
  width: 10%;
  padding: 10px 12px;
  border-radius: 15px;
  border: 2px solid transparent;
  transform: translateY(0);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.7);
  transition: all 0.2s ease;

  &:active {
    transform: translateY(10px);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.7);
  }
}

.answer {
  background-image: url("../img/bg1.jpg");
  background-size: contain;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.form {
  margin-top: 4rem;
  display: flex;
  opacity: 0;
  flex-direction: column;
  width: 40%;
  align-self: center;

  & button {
    width: 30%;
    padding: 10px 12px;
    border-radius: 15px;
    border: 2px solid transparent;
    transform: translateY(-10px);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.7);
    transition: all 0.2s ease;
    align-self: center;
    &:active {
      transform: translateY(0);
      box-shadow: 0 10px 10px rgba(0, 0, 0, 0.7);
    }
  }
}

input {
  margin-bottom: 2rem;
  padding: 10px 12px;
  border: none;
  outline: none;
  border-radius: 15px;
  resize: none;
}

.message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
  & h2 {
    font-size: 5rem;
    text-transform: uppercase;
    font-family: "Open Sans Condensed", sans-serif;
  }
  & h3 {
    font-size: 3rem;

    font-family: "Open Sans Condensed", sans-serif;
  }
}
